<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AssociatedDomains</key>
	<array>
		<string>applinks:testapp.ru</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Test App</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>7.10.21</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>testapp</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>7.10.21</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Мы запрашиваем доступ к камере, чтобы вы могли делать фотографии и использовать умный поиск по ним. Мы не сохраняем и не передаем ваши снимки без вашего согласия.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Мы запрашиваем доступ к вашей фотогалерее, чтобы вы могли использовать умный поиск по вашим фотографиям. Мы уважаем вашу конфиденциальность и не будем загружать или передавать ваши фото без вашего согласия.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Ваши данные будут использоваться для аналитики приложения и улучшения сервиса.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Gilroy-Medium.ttf</string>
		<string>PlaywriteAUVIC-Regular.ttf</string>
		<string>Gilroy-Black.ttf</string>
		<string>Gilroy-Bold.ttf</string>
		<string>Gilroy-ExtraBold.ttf</string>
		<string>Gilroy-Heavy.ttf</string>
		<string>Gilroy-Light.ttf</string>
		<string>Gilroy-Regular.ttf</string>
		<string>Gilroy-SemiBold.ttf</string>
		<string>Gilroy-Thin.ttf</string>
		<string>Gilroy-UltraLight.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
